@page "/admin/questions"
@attribute [Authorize(Roles = "admin")]
@using Newtonsoft.Json
@using ScavHunt.Components.Admin
@using ScavHunt.Data.Models
@attribute [Authorize]
@inject QuestionAdminService questions
@inject JSInterop js

<Modal id="@EditId" Title="@(editQuestion?.ShortCode != default ? $"Editing - {editQuestion.ShortCode}" : "New question")" Confirmed="SaveQuestion" ConfirmText="Save">
    @if (editQuestion != null)
    {
        <EditForm id="editQuestionForm" Model="@editQuestion">
            <DataAnnotationsValidator />
            <ValidationSummary />

            <div class="card mb-3">
                <div class="card-header">
                    <h5>Info</h5>
                </div>
                <div class="card-body">
                    <div class="form-check mb-3">
                        <label class="form-label">Code</label>
                        <InputText class="form-control" id="code" @bind-Value="editQuestion.ShortCode" placeholder="Code" />
                    </div>
                    <div class="form-check mb-3">
                        <label class="form-label">Title</label>
                        <InputText class="form-control" id="title" @bind-Value="editQuestion.Title" placeholder="Title" />
                    </div>

                    <div class="form-check mb-3">
                        <label class="form-label">Vendor</label>
                        <InputText class="form-control" id="vendor" @bind-Value="editQuestion.Vendor" placeholder="Vendor" />
                    </div>

                    <div class="form-check mb-3">
                        <label class="form-label">Question - Markdown enabled</label>
                        <InputTextArea class="form-control" id="text" rows="6" @bind-Value="editQuestion.Text" placeholder="Question" />
                    </div>

                    <div class="form-check mb-3">
                        <label class="form-label">Hint - Markdown enabled</label>
                        <InputTextArea class="form-control" id="hint" rows="6" @bind-Value="editQuestion.HintText" placeholder="Hint" />
                    </div>

                    <div class="form-check mb-3">
                        <label class="form-label">Success - Markdown enabled</label>
                        <InputTextArea class="form-control" id="successText" rows="6" @bind-Value="editQuestion.SuccessText" placeholder="Success Text" />
                    </div>
                </div>
            </div>

            <div class="card mb-3">
                <div class="card-header">
                    <h5>Answer</h5>
                </div>
                <div class="card-body">
                    <div class="row mb-3">
                        <div class="col-sm-auto my-auto">
                            Answers
                        </div>
                        <div class="col-sm-auto">
                            <button type="button" class="btn btn-primary" @onclick="AddAnswer">+</button>
                        </div>
                    </div>
                    <label class="form-label mb-3">Top answer is the correct one.</label>
                    <div class="form-check mb-3">
                        <InputCheckbox class="" id="shuffle" @bind-Value="editQuestion.ShuffleAnswers"/>
                        <label class="form-check-label" for="flexCheckDefault">
                            Shuffle Answers
                        </label>
                    </div>
                    @for(int i = 0; i < editQuestion.Answers.Count; i++)
                    {
                        // index required for onchange function call
                        var index = i;
                        var answer = editQuestion.Answers[i];

                        <div class="form-check mb-3">
                            <input type="text" class="form-control" placeholder="Answer" @oninput="@((e)=> UpdateAnswer(index, e.Value.ToString()))" value="@answer"/>
                        </div>
                
                    }
                </div>
            </div>
            <div class="card mb-3">
                <div class="card-header">
                    <h5>Access</h5>
                </div>
                <div class="card-body">
                    <div class="row mb-3">
                        <label class="form-label">Unlock Time</label>
                        <input type="datetime-local" class="form-control" @bind="editQuestion.UnlockTime" step="1"/>
                    </div>
                    <div class="row mb-3">
                        <label class="form-label">Lock Time</label>
                        <input type="datetime-local" class="form-control" @bind="editQuestion.LockTime" step="1"/>
                    </div>
                </div>
            </div>
            <div class="card mb-3">
                <div class="card-header">
                    <h5>Parent Questions</h5>
                </div>
                <div class="card-body">
                    <div class="row mb-3">
                        If there are any questions in this section, this question will not be accessible until one of the parents has been answered correctly.
                    </div>
                    <div class="row mb-3">
                        <div class="col-sm-auto my-auto">
                            Add chained question
                        </div>
                        <div class="col-sm-auto">
                            <select class="form-select" id="parentQuestionSelect" aria-label="Add parent question" @onchange="ParentChanged">
                                <option value="-1" selected>Add parent question</option>
                                @for(int i = 0; i < All.Count; i++)
                                {
                                    if(All[i].Id == editQuestion.Id || (editQuestion?.ParentQuestion?.Id ?? -1) == All[i].Id)
                                    {
                                        continue;
                                    }
                                    <option value="@i">@($"{All[i].Title} - {All[i].ShortCode}")</option>
                                }
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <table class="table table-striped">
                            <tbody>
                                @if (editQuestion.ParentQuestion != default)
                                {
                                    <tr>
                                        <td>@editQuestion.ParentQuestion.Title</td>
                                        <td>@editQuestion.ParentQuestion.ShortCode</td>
                                        <td><button type="button" class="btn btn-danger" @onclick="() => RemoveParent()">X</button></td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
    
        </EditForm>
    }
</Modal>

<ImportModal @ref="import"/>

<div class="container my-3">
    <div class="row">
        <div class="col-sm-auto">
            <h3>Questions</h3>
        </div>
        <div class="col-sm-auto">
            <button type="button" class="btn btn-primary" @onclick="NewQuestion">New</button>
        </div>
        <div class="col-sm-auto">
            <button type="button" class="btn btn-primary" @onclick="SaveOrder">Save Order</button>
        </div>
        <div class="col-sm-auto">
            <button type="button" class="btn btn-primary" @onclick="Export">Export</button>
        </div>
        <div class="col-sm-auto">
            <button type="button" class="btn btn-primary" @onclick="async () => await import?.Show()">Import</button>
        </div>
    </div>
    @if (Tree != null)
    {
        <QuestionIndexTreeItem Node="Tree" OnEdit="(async (q) => await EditQuestion(q))" OnAddChild="(async (q) => await NewQuestion(q))" />
    }
</div>
@code {
    const string EditId = "EditQuestionModal";

    ImportModal? import;

    List<Question> All { get; set; }

    Question editQuestion { get; set; }

    QuestionTreeNode Tree { get; set; }

    public record QuestionTreeNode(Question? Question, List<QuestionTreeNode>? Children = default)
    {
        public QuestionTreeNode GrowTree(QuestionTreeNode node, List<Question> all)
        {

            if (node.Question == default)
            {
                node = node with { Children = all.Where(q => q.ParentQuestion == null).Select(q => GrowTree(new QuestionTreeNode(q), all)).ToList() };
            }
            else
            {
                node = node with { Children = all.Where(q => q.ParentQuestion == node.Question).Select(q => GrowTree(new QuestionTreeNode(q), all)).ToList() };
            }

            return node;
        }

        public IEnumerable<Question> Flatten()
        {
            if(Question != null)
            {
                yield return Question;
            }
            if(Children != null)
            {
                foreach(var child in Children)
                {
                    foreach(var q in child.Flatten())
                    {
                        yield return q;
                    }
                }

            }
        }

        public Question? FindParent(Question child)
        {
            foreach(var c in Children)
            {
                if(c.Question.Equals(child))
                {
                    return Question;
                }
                else
                {
                    var test = c.FindParent(child);
                    if(test != default)
                    {
                        return test;
                    }
                }
            }

            return default;
        }
    }

    protected override async Task OnInitializedAsync()
    {
        await Init();
    }

    async Task Init()
    {
        All = await questions.All();
        BuildTree();
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (All != null)
        {
            await js.InitSortable("questionList");
        }
    }

    void BuildTree()
    {
        Tree = null;
        StateHasChanged();
        Tree = new QuestionTreeNode(default);
        Tree = Tree.GrowTree(Tree, All);
    }

    

    async Task NewQuestion()
    {
        editQuestion = new Question();
        editQuestion.Answers.Add("");
        await js.ShowModal(EditId);
    }

    async Task NewQuestion(Question parent)
    {
        editQuestion = new Question();
        editQuestion.ParentQuestion = parent;
        editQuestion.Answers.Add("");
        await js.ShowModal(EditId);
    }

    async Task SaveOrder()
    {
        var result = await js.GetQuestionTree("questionList");
        foreach(var node in result)
        {
            ParseOrderNode(node);
        }

        foreach(var question in All)
        {
            await questions.Update(question);
        }

        await Init();
    }

    async Task Export()
    {
        All = await questions.All();
        BuildTree();
        var json = JsonConvert.SerializeObject(Tree);
        await js.StartDownload("export.json", new MemoryStream(System.Text.Encoding.UTF8.GetBytes(json)));
        BuildTree();

    }

    void ParseOrderNode(JSInterop.QuestionTree tree, Question? parent = default)
    {
        if(long.TryParse(tree.id, out long id))
        {
            var question = All.FirstOrDefault(q => q.Id == id);
            if(question == default)
            {
                return;
            }

            question.ParentQuestion = parent;

            foreach(var child in tree.children)
            {
                ParseOrderNode(child, question);
            }

        }
    }

    async Task EditQuestion(Question question)
    {
        editQuestion = new Question()
        {
            Id = question.Id,
            ShortCode = question.ShortCode,
            Vendor = question.Vendor,
            Text = question.Text,
            Answers = question.Answers.ToList(),
            Title = question.Title,
            HintText = question.HintText,
            SuccessText = question.SuccessText,
            ShuffleAnswers = question.ShuffleAnswers,
            UnlockTime = question.UnlockTime,
            LockTime = question.LockTime,
            ParentQuestion = question.ParentQuestion
        };

        await js.ShowModal(EditId);
    }

    async Task SaveQuestion()
    {
        if(editQuestion != null)
        {
            editQuestion.Answers.RemoveAll(q => string.IsNullOrWhiteSpace(q));

            if(editQuestion.Id == 0)
            {
                await questions.Add(editQuestion);
            }
            else
            {
                await questions.Update(editQuestion);
            }
        }

        editQuestion = new Question();

        await Init();
        await js.HideModal(EditId);
    }

    void UpdateAnswer(int index, string value)
    {
        if(editQuestion == null || editQuestion.Answers.Count <= index)
        {
            return;
        }

        editQuestion.Answers[index] = value;
    }

    void AddAnswer()
    {
        if(editQuestion != default)
        {
            editQuestion?.Answers.Add("");
        }
    }

    async Task ParentChanged(ChangeEventArgs e)
    {
        var selected = e.Value.ToString();
        if(editQuestion != null && int.TryParse(selected, out int index) && index >= 0)
        {
            await js.SelectValue("parentQuestionSelect", "-1");
            var question = All[index];
            editQuestion.ParentQuestion = question;
        }
    }

    void RemoveParent()
    {
        editQuestion.ParentQuestion = default;
    }
}
